#folders
/.vs
static_link/

chrome_cache/bin
chrome_cache/build/
firefox_cache/bin
browser_cache_gui/

*Debug/
*debug/
*Release/
*temp*/
*bin/
x64/

#file extensions
*.gif
*.jpg
*.pyd
*.exe
*.zip


#chrome_cache_gui
form.json
size_cache.json